.headerIconRow {
    display: flex;
    width: 80%;
    align-items: center;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}

.iconDiv {
    width : 8vmin;
    height: 8vmin;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8vmin;

    text-decoration: none;
    text-align: center;
    font-size: 1.5vmin;

    background-color: azure;
}